/* .grid-container {
    display: grid;
}

.bacon-photos, .chako-photos, .lulu-photos, .pluto-photos, .sprout-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Georgia', serif;
    padding: 20px;
}

ol {
    counter-reset: item;
    list-style: none;
}

ul {
    list-style: none;
}  

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}


h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3{
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 10px;
}

h4{
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #b31020;
    font-weight: bold;
} 

nav a:hover {
    color: #136e96;
}

@media (max-width: 400px) {
  .skip {
    position: absolute;
    left: -1000px;
    height: 25px;
    background-color: white;
    opacity: 0;
  }

  .skip:focus {
      left: 1%;
      opacity: 1;
      position: fixed;
      top: 10px;
  }
  .link-allstyles {
      margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

div {
  margin: 20px;
}

image {
  left: 50%;
  top: 50%;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.current {
  font-weight: bold;
}
  
@media only screen and (max-width: 768px) {
  .skip {
      position: absolute;
      left: -1000px;
      height: 25px;
      background-color: white;
      opacity: 0;
  }

  .skip:focus {
      left: 1%;
      opacity: 1;
      position: fixed;
      top: 10px;
  }

/*     body,main {
        padding: 15px;
    }

    main>div {
        padding: 15px;
        margin: 15px 0;
    }

    h1,h2,h3,p {
        font-size: smaller;
    }

    .bacon-photos,.chako-photos,.lulu-photos,.pluto-photos,.sprout-photos {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    a[href="#main"] {
        display: none;
    } */

  nav ul a {
    font-size: 2.5rem;
  }

  nav ul a::before {
    height: 0.25em;
  }

  div.photos {
    display: grid;
    grid-template-columns: 45% 45%;
  }

  p {
    font-size: 160%;
  }

  div ul li {
    font-size: 160%;
  }

  img,video {
    width: 400px;
  }

  div figcaption {
    font-size: 160%;
  }
}

@media only screen and (min-width: 1024px) {
  .skip {
    position: absolute;
    left: -1000px;
    height: 25px;
    background-color: white;
    opacity: 0;
  }

  .skip:focus {
      left: 1%;
      opacity: 1;
      position: fixed;
      top: 10px;
  }

/*   body,main {
      padding: 15px;
  }

  main>div {
      padding: 15px;
      margin: 15px 0;
  }

  h1,h2,h3,p {
      font-size: smaller;
  }

  .bacon-photos,.chako-photos,.lulu-photos,.pluto-photos,.sprout-photos {
      grid-template-columns: 1fr;
      gap: 15px;
  }

  a[href="#main"] {
      display: none;
  }
} */

  header {
    padding: 5vh 1rem;
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  
  h2 {
    font-size: 225%;
  }

  h3 {
    font-size: 175%;
  }

  header h2 {
    max-width: 40ch;
    margin-top: 10px;
    padding-top: 0px;
  }
  
  nav ul a {
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
  }
  
  main {
    padding: 0vh 1rem;
  }

  div ul li {
    font-size: 120%;
  }
  
  p {
    font-size: 120%;
  }

  div.photos {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  img,video {
    width: 300px;
  }

  div figcaption {
    font-size: 120%;
  }
}

button {
  margin-top: 1rem;
}

div {
  margin-top: 1rem;
}    
    
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}
